In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from io import StringIO

# API URL

In [2]:
load_dotenv("configs/configs.env")  # take environment variables from .env.
url = "https://api-gateway.prod.miqdigital.com/dna_data_intelligence/dip"

API_GATEWAY_TOKEN = os.environ["API_GATEWAY_TOKEN"]
headers = {
  'api-gateway-token': API_GATEWAY_TOKEN
}

In [3]:
json_input = {
	"s3_uri": {
		"uri": "s3://prod-ai-and-automation/Ajay/gameontaptest/"
	},
	"query": {
		"query": "What is the market scenario for Carlsberg?"
	},
	"uu_id": {
		"uu_id": "gameontaptesting_qa"
	}
}

json_output = json.dumps(json_input, indent=4)

In [4]:
response = requests.request("POST", url, headers=headers, data=json_output)
response = response.json()

In [5]:
df = pd.read_json(StringIO(response["result_df"]))
display(df)
print("COMMENTARY : ", response["commentary"])

Empty DataFrame
Columns: []
Index: []

COMMENTARY :  I apologize, but I cannot provide any insights based on the given information. The JSON data that was meant to be provided is empty ({}), so there is no actual data to analyze regarding Carlsberg's market scenario. Without specific data points about Carlsberg's market performance, sales, competitors, or other relevant metrics, it's not possible to offer any meaningful insights.

## JSON Request Structure

### Query : What would be the reach of an audience segment having attributes like carlsberg brand, pubg game, and genre as rolePlaying in US and UK countries?

In [6]:
json_input = {
	"s3_uri": {
		"uri": "s3://prod-ai-and-automation/Ajay/gameontaptest/"
	},
	"query": {
		"query": "what would be the reach of an audience segment having attributes like carlsberg brand, pubg game, and genre as rolePlaying in US and UK countries?"
	},
	"uu_id": {
		"uu_id": "gameontaptesting"
	}
}

json_output = json.dumps(json_input, indent=4)

In [7]:
response = requests.request("POST", url, headers=headers, data=json_output)
response = response.json()

## Response

### Commentary : Based on the data provided, the reach for the audience segment with Carlsberg brand, PUBG game, and rolePlaying genre is 685,835 in the US and 1,212,102 in the UK. This indicates a significantly larger potential audience in the UK compared to the US for this specific combination of attributes, with the UK reach being nearly twice that of the US.

In [8]:
df = pd.read_json(StringIO(response["result_df"]))
display(df)
print("COMMENTARY : ", response["commentary"])

,brand,game,genre,country,reach,interest
0,carlsberg,pubg,rolePlaying,US,685835,"Role-playing games,\nBattle royale games,\nTec..."
6,carlsberg,pubg,rolePlaying,UK,1212102,"Role Playing Games',\n'Craft Beer Brewing',\n'..."

COMMENTARY :  Based on the data provided, the reach for the audience segment with Carlsberg brand, PUBG game, and rolePlaying genre is 685,835 in the US and 1,212,102 in the UK. This indicates a significantly larger potential audience in the UK compared to the US for this specific combination of attributes, with the UK reach being nearly twice that of the US.

In [1]:
from concurrent.futures import ThreadPoolExecutor, as_completed
import json
import time
import requests
from io import StringIO
import pandas as pd

url = "https://api-gateway.prod.miqdigital.com/dna_data_intelligence/dip"

API_GATEWAY_TOKEN = 'eyJvcmciOiI1ZDYzZDVjYzg0Y2E2NTAwMDE0YWRlMTkiLCJpZCI6ImVhOGU0OTg0ZDQ5MzRkZGFiODM3ZGFiYWIwNzBkMzhkIiwiaCI6Im11cm11cjEyOCJ9'
headers = {
  'api-gateway-token': API_GATEWAY_TOKEN
}

def send_request(json_input, url, headers):
    json_output = json.dumps(json_input, indent=4)
    try:
        response = requests.request("POST", url, headers=headers, data=json_output)
        return response.json() 
    except Exception as e:
        return {"error": str(e)} 


# JSON inputs for the requests
json_inputs = [
    {
        "s3_uri": {"uri": "s3://prod-ai-and-automation/Ajay/NinjaCat-Test/"},
        "query": {"query": "What is the trend of impressions accross the daterange?"},
        "uu_id": {"uu_id": "ninjacat-test"}
    },
    {
        "s3_uri": {"uri": "s3://prod-ai-and-automation/Ajay/NinjaCat-Test/"},
        "query": {"query": "What is the day of week CTR?"},
        "uu_id": {"uu_id": "ninjacat-test"}
    }
]

# Use ThreadPoolExecutor to send requests in parallel
results = []
start_time = time.time()

with ThreadPoolExecutor(max_workers=2) as executor:
    # Submit tasks to the executor
    futures = [executor.submit(send_request, json_input, url, headers) for json_input in json_inputs]
    
    # Process completed futures
    for future in as_completed(futures):
        results.append(future.result())

# Calculate total time taken
end_time = time.time()
print(f"Total time taken: {end_time - start_time:.2f} seconds")

# Process and display results
for i, result in enumerate(results):
    if "error" in result:
        print(f"Error in request {i + 1}: {result['error']}")
    else:
        try:
            df = pd.read_json(StringIO(result["result_df"]))
            display(df)
            print(f"COMMENTARY for request {i + 1}: {result['commentary']}")
        except Exception as e:
            print(f"Failed to process response for request {i + 1}: {e}")

Total time taken: 26.80 seconds

  day_of_week       ctr
1      Monday  0.000000
5     Tuesday  0.000000
6   Wednesday  0.000013
4    Thursday  0.000018
0      Friday  0.000000
2    Saturday  0.000000
3      Sunday  0.000022

COMMENTARY for request 1: The data shows Click-Through Rates (CTR) for each day of the week. Wednesday, Thursday, and Sunday have very low but non-zero CTRs, with Sunday having the highest at 0.000022099. Interestingly, Monday, Tuesday, Friday, and Saturday all show CTRs of 0, indicating no clicks on those days relative to impressions.

         date  impressions
0  2024-10-01        46071
1  2024-10-02        48455
2  2024-10-03        47824
3  2024-10-04        47167
4  2024-10-05        45529
5  2024-10-06        25676
6  2024-10-21        50305
7  2024-10-22        49112
8  2024-10-23        48415
9  2024-10-24        48943
10 2024-10-25        48557
11 2024-10-26        48130
12 2024-10-27        48559
13 2024-10-28        46673
14 2024-10-29        46870
15 2024-10-30        49843
16 2024-10-31        47806

COMMENTARY for request 2: The impressions show a generally stable trend across the date range, typically fluctuating between 45,000 and 50,000 per day. There's a notable dip to around 25,676 impressions on one day, which appears to be an outlier. Overall, the trend remains relatively consistent with minor daily variations throughout the period observed.